<br>
<br>
<%= form_with model: [@commentable, @comment] do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-10">                    <! Walidacija CSS ---required: true, minlength:2,>
      <%= f.text_area :body, class: 'form-control',required: true, minlength:2 %>
    </div>
  </div>
  

  <br>
  <%= f.submit ('Редагувати'), class: 'btn btn-primary' %>
<% end %>


<br>
<%= link_to "Show all articles!",articles_path, class:"btn btn-light" %> <!Prawelnaja ssylka>