<br>
<h2>New Article</h2>

<%= form_for :article, url: articles_path, data: {turbo:false}  do |f| %>

<!form class="d-flex" role="search">
<%= select(:article,:local_id, options_from_collection_for_select(@locals, "id","title", @article.present? ? @article.local_id : nil), {})%>
    <%#= select(:article,:local_id, Local.all.collect {|local| [local.title, local.id]}) %> 
    <!/form>
<%#= render 'shared/errors', object: @article %> <!Walidacija - papka shared/_errors>
<%# if @article && @article.errors.full_messages.any?%> <!Prowerka! Esli estj ochybka to nepropustit>
<%# end%>
<br>
<br>
<div class="mb-3 row">
<div class="col-sm-2 col-form-label">   
    <%= f.label :title %>
</div>

<div class="col-sm-10">          <! Walidacija CSS ---required: true, minlength:2,>
    <%= f.text_field :title, placeholder: "Title", class: "form-control"%>
</div>
</div>

<div class="mb-3 row">
<div class="col-sm-2 col-form-label">
    <%= f.label :text %>
</div>

<div class="col-sm-10">     <! Walidacija CSS ---required: true, minlength:2,>
    <%= f.text_area :text, placeholder: "Text", class: "form-control"%>
</div>
</div>

<div class="col-sm-10">     
    <%= f.file_field :image, class: "btn btn-outline-primary btn-sm"%>
</div>
<br>
  
  <%= f.submit "Submit Article", class: "btn btn-primary"%>

<%end%>
