<br>
<h2><%#= t'.title'%></h2>  
                  <!#5 Wozwrat i Redactirowanie>       
<%= form_for :thing, url: thing_path(@thing), method: :patch do |f| %>

<%#= render 'shared/errors', object: @article %> <!Walidacija - papka shared/_errors>
<%# if @article && @article.errors.full_messages.any?%> <!Prowerka! Esli estj ochybka to nepropustit>
<%# end%>
 <%= select(:thing,:local_id, Local.all.collect {|local| [local.title, local.id]})%>

<br>
<br>
<label class="label">Заголовок</label>
<div class="col-sm-10">          <!Walidacija CSS --required: true, minlength:2,>
    <%= f.text_field :title, placeholder: "Title", class: "form-control"%>
</div>

<br>
<label class="label">Текст</label>
 <div class="col-sm-10">    <!Walidacija CSS  --required: true, minlength:2,>
    <%= f.text_area :text, placeholder: "Text", class: "form-control"%>
 </div>

<br>
<div class="col-sm-10">     
    <%= f.file_field :image, class: "btn btn-outline-primary btn-sm"%>
</div>
  <br>
  
  <%= f.submit ('Редагувати'), class: "btn btn-primary"%>


<% end %>

<! Все находитсья  в  " edit.html.erb">
<br>
<%= link_to "Показати всi оголошення!",things_path, class:"button is-danger is-inverted" %>
