<%# provide :page_title, 'Article has been created!!!' %> <!Podpis w ikonke "Kakaja stranica">


 <H5>Область: <%= @thing.local.title%></H5>
 
 <p class="mb-2"><%= @thing.title %></p>
 
 <% if @thing.image.attached?%> <! if image nil>
 <%= image_tag @thing.image, style: "width: 380px; height: auto", class: 'img-thumbnail thumb'%>
  <% end %>
 <br>
 <p class="lead my-3"><%= @thing.text %></p>

             <! Podkluchenie time pod soobzheniem!>
  <time datetime="<%= @thing.created_at.strftime("%Y-%m-%d %H:%M:%S")%>">
  <%= @thing.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </time>  
   <br>
   <%= link_to ('Редагувати'), edit_thing_path(@thing),class: "btn btn-secondary btn-sm"%> 
   <%= link_to ('Видалити'), thing_path(@thing), data: {'turbo-method': :delete,'turbo-confirm': 
     'Are you sure?'}, class:"btn btn-danger btn-sm"%>
   <%= link_to "Показати всi оголошення!",things_path, class:"button is-danger is-inverted" %> <!Prawelnaja ssylka>
<!/////////////////////////////////////////////////////////////////////////////////////////>

 <hr class="my-3">
<!h4> <!/h4>

<a class="button big gray bi bi-pencil-square" href="#collapseExample" role="button" data-bs-toggle="collapse" aria-expanded="false">
     <%= ('Коментувати!')%>
  </a>
<br>
                     <!Dropdown Topic>
  <ul class="collapse" id="collapseExample"  data: {'bs-toggle': 'collapse'}>
                      <!Dobawil Comment>
 
 <%= form_with model: [@commentable, @comment] do |f| %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Коментар %>
    </div>

    <div class="col-sm-10">                     <! Walidacija CSS ---required: true, minlength:2,>
      <%= f.rich_text_area :body, class: 'form-control', required: true, minlength:2%>
    </div>
  </div>

  <%= f.submit "Создати", class: 'button is-primary' %>
 <% end %>
 </ul>
<!/////////////////////////////////////////////////////////////////////////////////////>

<!h4 class="mt-5"><!/h4>
<br>
<% @commentable.comments.each do |comment| %>
  <article class="mb-3 card" id="comment-<%= comment.id %>">
      <div class="card-body">
           <! Podkluchenie time pod soobzheniem!>
  <time datetime="<%= @thing.created_at.strftime("%Y-%m-%d %H:%M:%S")%>">
  <%= @thing.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </time>  
         
         <section class="card-text">
                  <p>
                    <%= comment.body %>
                  </p>
         </section>
              
 
 <%= link_to  "Редагувати", edit_thing_comment_path(@thing,comment),class: "btn btn-secondary btn-sm"%> 
 <%= link_to 'Видалити', thing_comment_path(@thing, comment), class: 'btn btn-danger btn-sm',
      data: {method: :delete, confirm: "Are you sure?"} %>
   </div>
 </article>
<%end%>